footer {
  background-color: $VeryLightGray;
  background-image: url("../images/bg-pattern-footer-mobile.svg");
  background-repeat: no-repeat;
  width: 100%;
  padding: 0 1.5rem;
  padding-top: 5.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-media-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-media-list {
  width: 9rem;
  padding: 2.2rem 0;
  display: flex;
  justify-content: space-between;

  img {
    transition: transform 200ms;
    vertical-align: middle;
  }

  img:hover {
    transform: scale(1.1);
  }
}

.footer-line {
  border-top: 1px solid $DarkGrayishViolet;
  opacity: 30%;
  width: 100%;
}

.footer-nav__list {
  padding: 2.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-list__item {
  width: 100%;
  margin-bottom: 2.75rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    line-height: 2;
  }

  a {
    text-decoration: none;
    color: $DarkViolet;
    font-size: 0.9rem;
    font-weight: 700;
    letter-spacing: 1px;
  }

  a:hover,
  a:active,
  a:focus {
    text-decoration: underline;
    outline: none;
  }
}

.footer-item__title {
  padding-bottom: 1rem;
  color: $DarkGrayishViolet;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 1px;
}

//Media Queries...............................................................

@media only screen and (min-width: 700px) {
  .social-media-container {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-nav__list {
    padding: 2.5rem 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    align-items: center;
  }

  .footer-list__item {
    width: 50%;
  }
}

@media only screen and (min-width: 968px) {
  footer {
    padding-top: 2.5rem;
    background-image: url("../images/bg-pattern-footer-desktop.svg");
  }
  .footer-nav {
    width: 100%;
  }

  .footer-nav__list {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: start;
  }

  .footer-list__item {
    width: 25%;
    align-items: center;
  }
}

@media only screen and (min-width: 1200px) {
  footer {
    padding-right: 10.25rem;
    padding-left: 10.25rem;
  }

  .footer-list__item {
    align-items: start;
  }
}
