header {
  background-color: white;
  width: 100%;
  position: relative;
  z-index: 3;
  height: 5rem;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-nav__list {
  display: none;
  background-color: $VeryDarkViolet;
  background-image: url("../images/bg-pattern-mobile-nav.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
  position: absolute;
  top: 5rem;
  left: 0;
  width: 100%;
  height: calc(100vh - 5rem);
  flex-direction: column;
  align-items: center;
  overflow-y: visible;
  overflow-x: hidden;

  .nav-item {
    padding-top: 3.25rem;
  }

  .nav-item:last-of-type {
    margin-bottom: 3rem;
  }

  a {
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
    text-decoration: none;
    transition: letter-spacing 200ms;

    &:hover,
    &:active,
    &:focus {
      letter-spacing: 2px;
    }
  }

  #view-plans-btn {
    @include button(white, white, $VeryDarkViolet, white);
    font-size: 1.2rem;
    padding: 1rem 6.375rem;
  }
}

#hamburger-menu {
  cursor: pointer;
}

.nav-fade-in {
  display: flex;
  animation: fade-in 500ms ease-out 1 forwards;
}

.nav-fade-out {
  animation: fade-out 500ms ease-out 1 forwards;
}

//Media Queries***************************************************

@media only screen and (max-width: 374px) {
  .nav-item {
    #view-plans-btn {
      padding: 1rem calc(1rem + 5vw);
    }
  }
}

@media only screen and (min-width: 700px) {
  #hamburger-menu {
    display: none;
  }

  .main-nav__list {
    display: flex;
    background-color: transparent;
    top: 0;
    background-image: none;
    position: relative;
    height: auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    overflow-y: visible;
    overflow-x: visible;

    .nav-item {
      padding-top: 0;
    }

    .nav-item:last-of-type {
      margin-bottom: 0;
    }

    a {
      text-decoration: none;
      color: $DarkGrayishViolet;
      font-size: 0.9rem;
      font-weight: 700;
      letter-spacing: 1px;
      margin: 0 1rem;

      &:hover,
      &:active,
      &:focus {
        letter-spacing: 1px;
        color: $VeryDarkViolet;
      }
    }

    #view-plans-btn {
      @include button($VeryDarkViolet, $VeryDarkViolet, white, $VeryDarkViolet);
    }
  }
}

@media only screen and (min-width: 968px) {
  #view-plans-btn {
    margin-right: 0;
  }
}

@media only screen and (min-width: 1200px) {
  header {
    padding-right: 10.25rem;
    padding-left: 10.25rem;
  }
}

@media only screen and (min-width: 120rem) {
  header {
    height: 5.55vw;
  }

  .logo {
    width: 7.77vw;
    height: 1.25vw;
  }

  .main-nav__list {
    a {
      font-size: 1vw; 
      margin: 0 1.11vw;
    }

    #view-plans-btn {
      font-size: 1vw;
      padding: 1rem 2vw;
    }
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
