header {
  background-color: white;
  width: 100%;

  height: 5rem;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-nav__list {
  display: none;
}

#hamburger-menu {
  cursor: pointer;
}

@media only screen and (min-width: 700px) {
  #hamburger-menu {
    display: none;
  }

  .main-nav__list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    a {
      text-decoration: none;
      color: $DarkGrayishViolet;
      font-size: 0.9rem;
      font-weight: 700;
      letter-spacing: 1px;
      padding: 0 1rem;

      &:hover,
      &:active,
      &:focus {
        color: $VeryDarkViolet;
      }
    }

    #view-plans-btn {
      @include button($VeryDarkViolet, $VeryDarkViolet, white, $VeryDarkViolet);
    }
  }
}

@media only screen and (min-width: 1200px) {
  header {
    padding-right: 10.25rem;
    padding-left: 10.25rem;
  }
}
