@import "colors";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Karla";
  background-color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Dm Serif Display";
}

#wrapper {
  width: 1440px;
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
}

header {
  height: 5rem;
  padding: 1.25rem 10.5rem;
}

// Main navigation

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  #logo {
    height: 18px;
  }

  &__list {
    list-style-type: none;
    display: flex;
    align-items: center;

    li {
      margin-left: 1.875rem;

      a {
        text-decoration: none;
        color: $DarkGrayishViolet;
        font-size: 0.9rem;
        font-weight: 700;
        letter-spacing: 1px;

        &:hover,
        &:focus,
        &:active {
          color: $VeryDarkViolet;
          cursor: pointer;
        }
      }
    }

    button {
      height: 2.5rem;
      width: 146px;
      border: 2px solid $DarkViolet;
      background-color: transparent;
      font-family: inherit;
      font-size: 0.9rem;
      font-weight: 700;
      letter-spacing: 1px;
      color: $DarkViolet;
      outline: none;

      &:hover,
      &:focus,
      &:active {
        background-color: $VeryDarkViolet;
        color: white;

        cursor: pointer;
      }
    }
  }
}
