@import "colors";
@import "mixins";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Karla";
  background-color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Dm Serif Display";
}

#wrapper {
  width: 1440px;
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
}

header {
  height: 5rem;
  padding: 1.25rem 10.5rem;
}

// Main navigation********************************************************************

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  #logo {
    height: 18px;
  }

  &__list {
    list-style-type: none;
    display: flex;
    align-items: center;

    li {
      margin-left: 1.875rem;

      a {
        text-decoration: none;
        color: $DarkGrayishViolet;
        font-size: 0.9rem;
        font-weight: 700;
        letter-spacing: 1px;

        &:hover,
        &:focus,
        &:active {
          color: $VeryDarkViolet;
          cursor: pointer;
        }
      }
    }

    button {
      @include button($VeryDarkViolet, $VeryDarkViolet, white, $VeryDarkViolet);
    }
  }
}

// Top Section - Hero Section**************************************************************

.hero-section {
  height: 37.5rem;
  padding: 105px 10.5rem;
  background-color: $DarkViolet;
  display: flex;
}

.hero-info {
  height: 370px;
  width: 570px;
  padding-right: 30px;
  color: white;
}

.hero-info__line {
  @include topLine(white);
}

.hero-info__title {
  font-size: 4.4rem;
  line-height: 0.9;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

.hero-info__desc {
  margin-bottom: 37px;
  line-height: 1.5;
}
.hero-info__btn {
  @include button(white, white, $DarkViolet, white);
}

.hero-image {
  background-color: green;
  height: 370px;
  width: 33.75rem; //540px

  img {
    width: 100%;
  }
}

// Middle Section - Work section**********************************************************************

.features-section {
  height: 1400px;

  padding-top: 306px;
  padding-left: 10.5rem;
  padding-right: 10.5rem;
}

.features-info__line {
  @include topLine($GrayishBlue);
}

.features-info__title {
  @extend .hero-info__title;
  margin-bottom: 6.4rem;
  color: $VeryDarkViolet;
}

.features-info__list {
  list-style-type: none;
  display: flex;

  li:first-of-type {
    margin-right: 2.5rem;
  }
}

.feature-item__subtitle {
  padding-top: 42px;
  padding-bottom: 27px;
  font-size: 1.7rem;
  font-weight: 700;
  color: $VeryDarkViolet;
}

.feature-item__desc {
  color: $DarkGrayishViolet;
  line-height: 1.5;
}
