* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

html {
  width: 100vw;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: black;
  width: 100%;
  font-family: "Karla";
}

.noscroll {
  height: 100vh;
  overflow-y: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Dm Serif Display";
}

#wrapper {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

#wrapper ul {
  list-style-type: none;
}

header {
  background-color: white;
  width: 100%;
  position: relative;
  z-index: 3;
  height: 5rem;
  padding: 0 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-nav__list {
  display: none;
  background-color: #2b272f;
  background-image: url("../images/bg-pattern-mobile-nav.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
  position: absolute;
  top: 5rem;
  left: 0;
  width: 100%;
  height: calc(100vh - 5rem);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-y: visible;
  overflow-x: hidden;
}

.main-nav__list .nav-item {
  padding-top: 3.25rem;
}

.main-nav__list .nav-item:last-of-type {
  margin-bottom: 3rem;
}

.main-nav__list a {
  color: white;
  font-size: 1.2rem;
  font-weight: 700;
  text-decoration: none;
  -webkit-transition: letter-spacing 200ms;
  transition: letter-spacing 200ms;
}

.main-nav__list a:hover, .main-nav__list a:active, .main-nav__list a:focus {
  letter-spacing: 2px;
}

.main-nav__list #view-plans-btn {
  -webkit-transition: all 200ms;
  transition: all 200ms;
  padding: 0.6rem 1.5rem;
  border: 2px solid white;
  background-color: transparent;
  font-family: inherit;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: white;
  outline: none;
  font-size: 1.2rem;
  padding: 1rem 6.375rem;
}

.main-nav__list #view-plans-btn:hover, .main-nav__list #view-plans-btn:focus, .main-nav__list #view-plans-btn:active {
  background-color: white;
  color: #2b272f;
  cursor: pointer;
}

#hamburger-menu {
  cursor: pointer;
}

.nav-fade-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: fade-in 500ms ease-out 1 forwards;
          animation: fade-in 500ms ease-out 1 forwards;
}

.nav-fade-out {
  -webkit-animation: fade-out 500ms ease-out 1 forwards;
          animation: fade-out 500ms ease-out 1 forwards;
}

@media only screen and (max-width: 374px) {
  .nav-item #view-plans-btn {
    padding: 1rem calc(1rem + 5vw);
  }
}

@media only screen and (min-width: 700px) {
  #hamburger-menu {
    display: none;
  }
  .main-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: transparent;
    top: 0;
    background-image: none;
    position: relative;
    height: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    overflow-y: visible;
    overflow-x: visible;
  }
  .main-nav__list .nav-item {
    padding-top: 0;
  }
  .main-nav__list .nav-item:last-of-type {
    margin-bottom: 0;
  }
  .main-nav__list a {
    text-decoration: none;
    color: #837d87;
    font-size: 0.9rem;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 0 1rem;
  }
  .main-nav__list a:hover, .main-nav__list a:active, .main-nav__list a:focus {
    letter-spacing: 1px;
    color: #2b272f;
  }
  .main-nav__list #view-plans-btn {
    -webkit-transition: all 200ms;
    transition: all 200ms;
    padding: 0.6rem 1.5rem;
    border: 2px solid #2b272f;
    background-color: transparent;
    font-family: inherit;
    font-size: 0.9rem;
    font-weight: 700;
    letter-spacing: 1px;
    color: #2b272f;
    outline: none;
  }
  .main-nav__list #view-plans-btn:hover, .main-nav__list #view-plans-btn:focus, .main-nav__list #view-plans-btn:active {
    background-color: #2b272f;
    color: white;
    cursor: pointer;
  }
}

@media only screen and (min-width: 968px) {
  #view-plans-btn {
    margin-right: 0;
  }
}

@media only screen and (min-width: 1200px) {
  header {
    padding-right: 10.25rem;
    padding-left: 10.25rem;
  }
}

@media only screen and (min-width: 120rem) {
  header {
    height: 5.55vw;
  }
  .logo {
    width: 7.77vw;
    height: 1.25vw;
  }
  .main-nav__list a {
    font-size: 1.33vw;
    margin: 0 1.11vw;
  }
  .main-nav__list #view-plans-btn {
    font-size: 1.33vw;
    padding: 1rem 2vw;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.intro-section {
  background-color: #2d2640;
  width: 100%;
}

.intro-section__line {
  display: none;
}

.intro-section__hero {
  width: 100%;
  height: 451px;
  background-image: url("../images/image-intro-mobile.jpg");
  background-repeat: no-repeat;
}

.intro-section__introduction {
  background-color: #2d2640;
  background-image: url("../images/bg-pattern-intro-left-mobile.svg");
  background-repeat: no-repeat;
  padding: 0 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: white;
}

.intro-section__title {
  font-size: 2.9rem;
  font-weight: 400;
  line-height: 1.1;
  margin-top: 6.25rem;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.intro-section__info {
  line-height: 1.5;
  margin: 3rem 0;
}

.intro-section__cta {
  -webkit-transition: all 200ms;
  transition: all 200ms;
  padding: 0.6rem 1.5rem;
  border: 2px solid white;
  background-color: transparent;
  font-family: inherit;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: white;
  outline: none;
  margin-bottom: 6.25rem;
  position: relative;
  z-index: 1;
}

.intro-section__cta:hover, .intro-section__cta:focus, .intro-section__cta:active {
  background-color: white;
  color: #2d2640;
  cursor: pointer;
}

.features-section {
  background-color: white;
  color: #2b272f;
  width: 100%;
  padding: 8.75rem 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.features-section::before {
  content: "";
  width: 7.75rem;
  height: 20.75rem;
  background-image: url("../images/bg-pattern-intro-right-mobile.svg");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: -8.1%;
  right: 0;
}

.features-section__line {
  border-top: 1px solid #837d87;
  width: 9.3rem;
}

.features-section__title {
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.1;
  margin-top: 2.8rem;
  margin-bottom: 5rem;
}

.features-section__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: calc(9.25rem - 3.75rem);
}

.feature-item {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 3.75rem;
}

.feature-item h2 {
  margin-top: 2.5rem;
  margin-bottom: 2rem;
  font-weight: 400;
  font-size: 1.7rem;
}

.feature-item p {
  line-height: 1.6;
  color: #837d87;
}

.features-section__work {
  background-color: #2d2640;
  color: white;
  text-align: center;
  padding-top: 4.4rem;
  padding-bottom: 4.7rem;
  background-image: url("../images/bg-pattern-how-we-work-mobile.svg");
  background-repeat: no-repeat;
  background-position: top right;
}

.features-section__work h2 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.1;
  margin-bottom: 2.5rem;
}

.features-section__cta {
  -webkit-transition: all 200ms;
  transition: all 200ms;
  padding: 0.6rem 1.5rem;
  border: 2px solid white;
  background-color: transparent;
  font-family: inherit;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: white;
  outline: none;
  padding: 0.7rem 1.5rem;
}

.features-section__cta:hover, .features-section__cta:focus, .features-section__cta:active {
  background-color: white;
  color: #2d2640;
  cursor: pointer;
}

@media only screen and (min-width: 376px) {
  .intro-section__hero {
    background-image: url("../images/image-intro-desktop.jpg");
    background-size: cover;
    background-position: center;
  }
  .features-section__work h2 {
    padding: 0 1.5rem;
  }
}

@media only screen and (min-width: 700px) {
  .intro-section {
    padding: 6.5rem 1.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    position: relative;
  }
  .intro-section__hero {
    position: absolute;
    top: 14.5%;
    right: 1.5rem;
    width: 50%;
    height: 70%;
    background-size: contain;
    background-position: top;
  }
  .intro-section__introduction {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    text-align: left;
    padding: 0;
    background-image: none;
  }
  .intro-section__line {
    display: block;
    border-top: 1px solid white;
    margin-bottom: 4.3rem;
    width: 9.3rem;
  }
  .intro-section__title {
    font-size: 2.5rem;
    margin-top: 0;
  }
  .intro-section__info {
    width: 45%;
  }
  .feature-item {
    width: 50%;
  }
}

@media only screen and (min-width: 968px) {
  .intro-section__hero {
    width: 50%;
    height: 80%;
    background-size: contain;
    background-position: right;
  }
  .intro-section__title {
    font-size: 3.5rem;
  }
  .features-section::before {
    content: "";
    width: 12.375rem;
    height: 31.25rem;
    background-image: url("../images/bg-pattern-intro-left-desktop.svg");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: -13%;
    left: 0;
  }
  .features-section__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .feature-item {
    padding-right: 1rem;
  }
  .features-section__work {
    width: 100%;
    background-image: url("../images/bg-pattern-how-we-work-desktop.svg");
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 4rem 4.5rem;
  }
  .features-section__work h2 {
    text-align: left;
    width: 70%;
    font-size: 3.5rem;
    margin: 0;
    padding: 0;
  }
}

@media only screen and (min-width: 1200px) {
  .intro-section {
    height: 37.5rem;
    padding: 6.5rem 10.25rem;
  }
  .intro-section::after {
    content: "";
    background-image: url("../images/bg-pattern-intro-right-desktop.svg");
    background-size: cover;
    background-position: 100% 0%;
    background-repeat: no-repeat;
    width: 27.5rem;
    height: 100%;
    position: absolute;
    top: -13.5%;
    right: 0;
    z-index: 2;
  }
  .intro-section__line {
    margin-bottom: 0;
    padding-bottom: 4rem;
  }
  .intro-section__introduction {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
    padding: 0;
    width: 50%;
  }
  .intro-section__title {
    font-size: 3.7rem;
  }
  .intro-section__info {
    width: 90%;
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 2rem;
  }
  .intro-section__cta {
    margin-bottom: 0;
  }
  .intro-section__hero {
    position: relative;
    top: 0%;
    right: 0%;
    width: 50%;
    height: 650px;
    background-position: top right;
    z-index: 1;
  }
  .features-section {
    padding: 8.75rem 10.25rem;
    padding-top: 19rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .features-section__title {
    font-size: 3.7rem;
  }
  .feature-item {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .feature-item p {
    text-align: left;
  }
}

@media only screen and (min-width: 1440px) {
  .intro-section__title {
    font-size: 4.4rem;
  }
  .intro-section__info {
    width: 100%;
    padding-right: 1rem;
  }
  .features-section__title {
    font-size: 4.4rem;
  }
}

@media only screen and (min-width: 120rem) {
  .intro-section {
    height: 50vw;
  }
  .intro-section::after {
    width: 30.55vw;
    height: 41.66vw;
  }
  .intro-section__introduction {
    height: 41.6vw;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .intro-section__line {
    width: 10.33vw;
  }
  .intro-section__title {
    font-size: 4.88vw;
  }
  .intro-section__info {
    font-size: 1.11vw;
    margin: 4.17vw 0;
  }
  .intro-section__cta {
    font-size: 1vw;
  }
  .intro-section__hero {
    height: 54.16vw;
  }
  .features-section {
    padding-top: 21.11vw;
    padding-bottom: 9.72vw;
  }
  .features-section::before {
    width: 13.75vw;
    height: 34.72vw;
  }
  .features-section__list {
    margin-bottom: 6.11vw;
  }
  .features-section__list img {
    width: 5.97vw;
    height: auto;
  }
  .feature-item {
    padding-right: 2.5rem;
  }
  .feature-item h2 {
    font-size: 1.88vw;
  }
  .feature-item p {
    font-size: 1.11vw;
  }
  .features-section__title {
    font-size: 4.88vw;
    margin-bottom: 5.55vw;
  }
  .features-section__line {
    width: 10.33vw;
  }
  .features-section__work {
    width: 77.22vw;
    height: 17.36vw;
    background-position: top right;
    background-size: contain;
    margin: 0 auto;
  }
  .features-section__work h2 {
    font-size: 4.5vw;
  }
  .features-section__work .features-section__cta {
    font-size: 1vw;
  }
}

footer {
  background-color: #fafafa;
  background-image: url("../images/bg-pattern-footer-mobile.svg");
  background-repeat: no-repeat;
  width: 100%;
  padding: 0 1.5rem;
  padding-top: 5.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-media-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-media-list {
  width: 9rem;
  height: 1.875rem;
  padding: 2.2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social-media-list .social-link {
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
}

.social-media-list .social-link i {
  font-size: 1.5rem;
  color: #837d87;
}

.social-media-list .social-link:hover, .social-media-list .social-link:active {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

.social-media-list .social-link:hover i, .social-media-list .social-link:active i {
  color: #2b272f;
}

.footer-line {
  border-top: 1px solid #837d87;
  opacity: 30%;
  width: 100%;
}

.footer-nav__list {
  padding: 2.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-list__item {
  width: 100%;
  margin-bottom: 2.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-list__item p {
  line-height: 2;
}

.footer-list__item a {
  text-decoration: none;
  color: #2d2640;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.footer-list__item a:hover,
.footer-list__item a:active,
.footer-list__item a:focus {
  text-decoration: underline;
  outline: none;
}

.footer-item__title {
  padding-bottom: 1rem;
  color: #837d87;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 1px;
}

@media only screen and (min-width: 700px) {
  .social-media-container {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer-nav__list {
    padding: 2.5rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-list__item {
    width: 50%;
  }
}

@media only screen and (min-width: 968px) {
  footer {
    padding-top: 2.5rem;
    background-image: url("../images/bg-pattern-footer-desktop.svg");
  }
  .footer-nav {
    width: 100%;
  }
  .footer-nav__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .footer-list__item {
    width: 25%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (min-width: 1200px) {
  footer {
    padding-right: 10.25rem;
    padding-left: 10.25rem;
  }
  .footer-list__item {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

@media only screen and (min-width: 120rem) {
  .social-media-list {
    width: 10vw;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    padding: 2.2rem 0;
  }
  .social-media-list .social-link i {
    font-size: 1.67vw;
  }
  .social-media-list .social-link:hover, .social-media-list .social-link:active {
    -webkit-transform: translateY(-0.5rem);
            transform: translateY(-0.5rem);
  }
  .footer-list__item a {
    font-size: 1vw;
  }
  .footer-item__title {
    font-size: 1vw;
  }
}
/*# sourceMappingURL=style.css.map */