* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Karla";
  background-color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Dm Serif Display";
}

#wrapper {
  width: 1440px;
  background-color: white;
  margin: 0 auto;
}

header {
  height: 5rem;
  padding: 1.25rem 10.5rem;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav #logo {
  height: 18px;
}

.nav__list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__list li {
  margin-left: 1.875rem;
}

.nav__list li a {
  text-decoration: none;
  color: #837d87;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.nav__list li a:hover, .nav__list li a:focus, .nav__list li a:active {
  color: #2b272f;
  cursor: pointer;
}

.nav__list button {
  height: 2.5rem;
  width: 146px;
  border: 2px solid #2b272f;
  background-color: transparent;
  font-family: inherit;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: #2b272f;
  outline: none;
}

.nav__list button:hover, .nav__list button:focus, .nav__list button:active {
  background-color: #2b272f;
  color: white;
  cursor: pointer;
}

.hero-section {
  height: 37.5rem;
  padding: 105px 10.5rem;
  background-color: #2d2640;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.hero-section::before {
  content: "";
  background-image: url("../images/bg-pattern-intro-left-desktop.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 196px;
  height: 500px;
  position: absolute;
  bottom: -55%;
  left: 0%;
}

.hero-section::after {
  content: "";
  background-image: url("../images/bg-pattern-intro-right-desktop.svg");
  background-size: contain;
  background-repeat: no-repeat;
  /*It's worth mentioning that if your background-size is equal to the container size for a given axis, then a percentage position for that axis will have no effect because the "container-image difference" will be zero. You will need to offset using absolute values.*/
  background-position-x: 100%;
  background-position-y: -80px;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
}

.hero-info {
  height: 370px;
  width: 570px;
  padding-right: 30px;
  color: white;
}

.hero-info__line {
  width: 152px;
  height: 1px;
  border-top: 1px solid white;
  margin-bottom: 73px;
}

.hero-info__title, .features-info__title {
  font-size: 4.4rem;
  line-height: 0.9;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

.hero-info__desc {
  margin-bottom: 37px;
  line-height: 1.5;
}

.hero-info__btn {
  height: 2.5rem;
  width: 146px;
  border: 2px solid white;
  background-color: transparent;
  font-family: inherit;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: white;
  outline: none;
  position: relative;
  z-index: 1;
}

.hero-info__btn:hover, .hero-info__btn:focus, .hero-info__btn:active {
  background-color: white;
  color: #2d2640;
  cursor: pointer;
}

.hero-image {
  background-color: green;
  height: 370px;
  width: 33.75rem;
}

.hero-image img {
  width: 100%;
}

.features-section {
  height: 1400px;
  padding-top: 306px;
  padding-left: 10.5rem;
  padding-right: 10.5rem;
}

.features-info__line {
  width: 152px;
  height: 1px;
  border-top: 1px solid #95a9c6;
  margin-bottom: 73px;
}

.features-info__title {
  margin-bottom: 6.4rem;
  color: #2b272f;
}

.features-info__list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: auto;
}

.features-info__list li:first-of-type {
  width: 32%;
}

.features-info__list li:nth-of-type(2) {
  padding-left: 1rem;
  width: 34%;
}

.features-info__list li:last-of-type {
  padding-left: 0.5rem;
  width: 32%;
}

.feature-item__subtitle {
  padding-top: 40px;
  padding-bottom: 1rem;
  font-size: 1.7rem;
  font-weight: 400;
  color: #2b272f;
}

.feature-item__desc {
  color: #837d87;
  line-height: 1.5;
}

.features-info__work {
  margin-top: 164px;
  padding: 0 80px;
  height: 250px;
  background-color: #2d2640;
  background-image: url("../images/bg-pattern-how-we-work-desktop.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features-info__work h2 {
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1;
}

.features-info__work button {
  height: 2.5rem;
  width: 146px;
  border: 2px solid white;
  background-color: transparent;
  font-family: inherit;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: white;
  outline: none;
  width: 160px;
}

.features-info__work button:hover, .features-info__work button:focus, .features-info__work button:active {
  background-color: white;
  color: #2d2640;
  cursor: pointer;
}

footer {
  padding: 0 10.5rem;
  padding-top: 60px;
  position: relative;
  background-image: url("../images/bg-pattern-footer-desktop.svg");
  background-size: 525px 230px;
  background-position: 0% 0%;
  background-repeat: no-repeat;
}

footer ul {
  list-style-type: none;
}

footer hr {
  margin-top: 34px;
  margin-bottom: 48px;
  border-top: 1px solid #837d87;
  opacity: 35%;
}

.footer-info__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-info__social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-info__social ul li {
  margin-left: 1rem;
}

.footer-info__social ul li i {
  font-size: 1.5rem;
  color: #837d87;
}

.footer-info__social a:hover i,
.footer-info__social a:focus i,
.footer-info__social a:active i {
  color: #2b272f;
}

.footer-info__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.info-container {
  width: 25%;
}

.info-container h4 {
  font-family: "Karla";
  margin-bottom: 36px;
  font-size: 0.9rem;
  font-weight: 700;
  color: #837d87;
  letter-spacing: 1px;
}

.info-container li {
  font-size: 0.9rem;
  font-weight: 700;
  color: #2d2640;
  letter-spacing: 1px;
  margin-bottom: 16px;
}

.info-container li:hover {
  text-decoration: underline;
  cursor: pointer;
}

.info-container li:last-of-type {
  margin-bottom: 64px;
}
/*# sourceMappingURL=style.css.map */