header {
  background-color: white;
  width: 100%;
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-nav__list {
  display: none;
}

#hamburger-menu {
  cursor: pointer;
}

@media only screen and (min-width: 700px) {
  #hamburger-menu {
    display: none;
  }
  .main-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .main-nav__list li {
    color: #837d87;
    font-size: 0.9rem;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 0 1rem;
  }
  .main-nav__list button {
    -webkit-transition: all 200ms;
    transition: all 200ms;
    height: 2.5rem;
    width: 146px;
    border: 2px solid #2b272f;
    background-color: transparent;
    font-family: inherit;
    font-size: 0.9rem;
    font-weight: 700;
    letter-spacing: 1px;
    color: #2b272f;
    outline: none;
  }
  .main-nav__list button:hover, .main-nav__list button:focus, .main-nav__list button:active {
    background-color: #2b272f;
    color: white;
    cursor: pointer;
  }
}

.intro-section {
  background-color: blueviolet;
  width: 100%;
}

.intro-section__line {
  display: none;
}

.intro-section__hero {
  width: 100%;
  height: 451px;
  background-image: url("../images/image-intro-mobile.jpg");
  background-repeat: no-repeat;
}

.intro-section__introduction {
  background-color: #2d2640;
  background-image: url("../images/bg-pattern-intro-left-mobile.svg");
  background-repeat: no-repeat;
  padding: 0 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: white;
}

.intro-section__title {
  font-size: 2.9rem;
  font-weight: 400;
  line-height: 1.1;
  margin-top: 6.25rem;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.intro-section__info {
  line-height: 1.5;
  margin: 3rem 0;
}

.intro-section__cta {
  -webkit-transition: all 200ms;
  transition: all 200ms;
  height: 2.5rem;
  width: 146px;
  border: 2px solid white;
  background-color: transparent;
  font-family: inherit;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: white;
  outline: none;
  margin-bottom: 6.25rem;
  position: relative;
  z-index: 1;
}

.intro-section__cta:hover, .intro-section__cta:focus, .intro-section__cta:active {
  background-color: white;
  color: #2d2640;
  cursor: pointer;
}

.features-section {
  background-color: white;
  color: #2b272f;
  width: 100%;
  padding: 8.75rem 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.features-section::before {
  content: "";
  width: 7.75rem;
  height: 20.75rem;
  background-image: url("../images/bg-pattern-intro-right-mobile.svg");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: -8.1%;
  right: 0;
}

.features-section__line {
  border-top: 1px solid #837d87;
  width: 9.3rem;
}

.features-section__title {
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.1;
  margin-top: 2.8rem;
  margin-bottom: 5rem;
}

.features-section__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: calc(9.25rem - 3.75rem);
}

.feature-item {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 3.75rem;
}

.feature-item h2 {
  margin-top: 2.5rem;
  margin-bottom: 2rem;
  font-weight: 400;
  font-size: 1.7rem;
}

.feature-item p {
  line-height: 1.6;
  color: #837d87;
}

.features-section__work {
  background-color: #2d2640;
  color: white;
  text-align: center;
  padding-top: 4.4rem;
  padding-bottom: 4.7rem;
  background-image: url("../images/bg-pattern-how-we-work-mobile.svg");
  background-repeat: no-repeat;
  background-position: top right;
}

.features-section__work h2 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.1;
  margin-bottom: 2.5rem;
}

.features-section__cta {
  -webkit-transition: all 200ms;
  transition: all 200ms;
  height: 2.5rem;
  width: 146px;
  border: 2px solid white;
  background-color: transparent;
  font-family: inherit;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: white;
  outline: none;
}

.features-section__cta:hover, .features-section__cta:focus, .features-section__cta:active {
  background-color: white;
  color: #2d2640;
  cursor: pointer;
}

@media only screen and (min-width: 376px) {
  .features-section__work h2 {
    padding: 0 1.5rem;
  }
}

footer {
  background-color: #fafafa;
  background-image: url("../images/bg-pattern-footer-mobile.svg");
  background-repeat: no-repeat;
  width: 100%;
  padding: 0 1.5rem;
  padding-top: 5.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-media-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-media-list {
  width: 9rem;
  padding: 2.2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social-media-list img {
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
  vertical-align: middle;
}

.social-media-list img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.footer-line {
  border-top: 1px solid #837d87;
  opacity: 30%;
  width: 100%;
}

.footer-nav__list {
  padding: 2.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-list__item {
  width: 100%;
  margin-bottom: 2.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-list__item p {
  line-height: 2;
}

.footer-list__item a {
  text-decoration: none;
  color: #2d2640;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.footer-list__item a:hover,
.footer-list__item a:active,
.footer-list__item a:focus {
  text-decoration: underline;
  outline: none;
}

.footer-item__title {
  padding-bottom: 1rem;
  color: #837d87;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 1px;
}

@media only screen and (min-width: 700px) {
  .social-media-container {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer-nav__list {
    padding: 2.5rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-list__item {
    width: 50%;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

html {
  width: 100vw;
}

body {
  width: 100%;
  font-family: "Karla";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Dm Serif Display";
}

#wrapper {
  width: 100%;
  max-width: 90rem;
  margin: 0 auto;
  overflow: hidden;
}

#wrapper ul {
  list-style-type: none;
}
/*# sourceMappingURL=style.css.map */